<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
    <script type="application/javascript" src="../static/js/main.js"></script>
</head>
<body>
    <h2 class="font-style">Who   is   this?</h2>
    <img id="avatar" src=""></img>
    <div id="userinfo" class="font-style"></div>
    <div class="content-area main">
        <div id="start">开始认脸</div>
        <a id="btn-upload" href={{ url_for('upload') }}>上传图片</a>
        <div id="game-area">
            <img id="photo" src=""></img>
            <div class="options font-style" id="op1"></div>
            <div class="options font-style" id="op2"></div>
            <div class="options font-style" id="op3"></div>
            <div class="options font-style" id="op4"></div>
        </div>
    </div>
</body>
</html>