<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传头像</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <h2 class="font-style">Who   is   this?</h2>
    <div class="content-area main" id="form-upload">
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.image.label(class="form-label font-style") }}
            {{ form.image }}<br>
            <input type="checkbox" name="kp" value=1 checked="checked">私有<br>
            {{ form.submit }}
        </form>
    </div>
</body>
</html>